{% if about.reading %}
    <h4 class="my-2 text-gray-500 dark:text-white/90 font-semibold text-md flex flex-row items-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"class="w-5 h-5 flex-none mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"/>
        </svg>

    Tech I use
</h4>
    <ul class="list-disc my-7">
        {% for entry in about.tech %}
            <li>
                <p class="font-semibold">{{ entry.category }}</p>
                <ul class="list-none ml-6">
                    {% for item in entry.items %}
                        <li class="mb-2">
                            <a target="_blank" href="{{ item.link | url }}">{{ item.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}