{% extends "../layouts/main.njk" %}

{%block title %}Posts - Eduardo Stuart{% endblock %}

{% block current_page %}
    <h2>Posts</h2>
{% endblock %}

{% block body %}
    <div class="w-full">
        {% for post in collections.posts %}
            <a href="{{ post.url }}" class="text-md rounded-md w-full flex flex-row items-center py-2 px-2 mb-1 text-black bg-gray-50 dark:text-white dark:bg-gray-900 hover:bg-gray-100 dark:hover:bg-gray-800 no-underline">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-2 text-gray-400 dark:text-white/60">
                    <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
                    <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
                </svg>

                <p>{{ post.data.title }}</p>
                <p class="ml-auto">{{ post.data.publishedAt }}</p>
            </a>
        {% endfor %}
    </div>
{% endblock %}