{% extends "./layouts/main.njk" %}

{%block title %}About - Eduardo Stuart{% endblock %}

{% block current_page %}
    <h2>About</h2>
{% endblock %}

{% block body %}
    <div class="pt-14 w-full flex-wrap sm:flex-nowrap flex flex-row">
        <div class="w-full sm:w-[65%] pr-4 mb-7 sm:mb-0">
            <p>My name is Eduardo Stuart and I'm currently working at Warner Bros. Discovery as a Senior Software Engineer.</p>
        </div>
        <div class="w-full sm:w-[35%] border-l border-gray-200 pl-4">
            <h3 class="font-bold mb-7">Work</h3>
            <div class="py-2 divide-y-8 divide-transparent">
                {% for item in about.work %}
                    <div class="flex w-full items-start">
                        <img class="w-6 h-6 flex-none mr-2 rounded-md" src="{{ item.logo | url }}">
                        <div class="text-sm">
                            <p class="font-semibold">{{ item.company }}</p>
                            <p class="text-xs">{{ item.position }}</p>
                            <p class="text-xs text-gray-400">{{ item.start_date }} - {{ item.end_date }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}