{% extends "./layouts/main.njk" %}

{% block content %}

    <div class="pt-14 pb-7 w-full flex flex-row flex-wrap border-b border-gray-200 dark:border-white/10">
        <div class="w-full sm:w-[30%] mb-4 sm:mb-0">
            <a href="/about">About</a>
        </div>
        <div class="w-full sm:w-[70%] divide-y-8 divide-transparent">
            <p class="inline-block">Hi!</p>
            <p>My name is Eduardo Stuart.</p>
            <p>I'm currently working as a Senior Software Engineer at <a href="https://wbd.com/" target="_blank" rel="nofollow">Warner Bros. Discovery</a>. </p>

            <p>The best way to reach me is via my <a href="mailto:e@s.tuart.me" rel="nofollow">email</a>. I'm also on <a href="https://github.com/eduardostuart" rel="nofollow">GitHub</a>, <a href="https://linkedin.com/in/eduardostuart/" rel="nofollow">LinkedIn</a>, and <a href="https://twitter.com/eduardostuart" rel="nofollow">Twitter</a>.
            </p>
        </div>
    </div>

    <div class="w-full flex flex-row flex-wrap py-7 border-b border-gray-200 dark:border-white/10">
        <div class="w-full sm:w-[30%] mb-4 sm:mb-0">
            <a href="/posts">Posts</a>
        </div>
        <div class="w-full sm:w-[70%]">
            {% for post in collections.posts %}
                <div class="w-full flex flex-row items-center py-2 mb-1 last:mb-0">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4  mr-2 text-gray-400 dark:text-white/60">
                        <path fill-rule="evenodd" d="M10.21 14.77a.75.75 0 01.02-1.06L14.168 10 10.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M4.21 14.77a.75.75 0 01.02-1.06L8.168 10 4.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd"/>
                    </svg>
                    <a href="{{ post.url }}" class="block">{{ post.data.title }}</a>
                    <p class="ml-auto hidden sm:block">{{ post.data.publishedAt | date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="w-full flex flex-row flex-wrap py-7">
        <div class="w-full sm:w-[30%] mb-4 sm:mb-0">
            <a href="/projects">Projects</a>
        </div>
        <div class="w-full sm:w-[70%]">
            {% for project in about.projects | take(3) %}
                <div class="w-full flex flex-row items-center py-2 mb-1">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"  class="w-4 h-4  mr-2 text-gray-400 dark:text-white/60">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5"/>
                    </svg>
                    <a target="_blank" href="{{ project.url }}" class="block">{{ project.name }}</a>
                    {% if project.in_progress %}
                        <span class="ml-2 bg-gray-200 text-gray-700 font-semibold rounded-lg px-1 text-[9px]">in progress</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}