{% extends "./base.njk" %}

{%block body %}

  <main>
    <div class="w-full max-w-[900px] pt-7 pb-14 mx-auto px-7 lg:px-6">

      {% block header %}
        <header class="flex flex-row flex-wrap sm:flex-nowrap items-center w-full border-b border-gray-100 dark:border-white/10 py-4">
          <a href="{{ '/' | url }}" class="md:text-4xl text-4xl no-underline text-black/70 dark:text-white font-extrabold">
            <h1>
                  Eduardo Stuart
              </h1>
          </a>

          <div class="block w-full sm:ml-auto sm:w-auto text-gray-400">
            {% block current_page %}{% endblock %}
          </div>

        </header>
      {% endblock %}

      <section class="w-full text-gray-700 dark:text-white">
        {% block content %}{% endblock %}
      </section>
    </div>
  </main>

{% endblock %}