<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {%block title %}Eduardo Stuart{% endblock %}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/style.css' | url }}?v={{ siteVersion }}"/>
    {% if production %}
      <script defer type="text/javascript" src="https://abracadabra.s.tuart.dev/p.js" id="pirschjs" data-code="pHwNXgJ7heivj9c2p3tdeIfXPrVBtzbI"></script>
    {% endif %}
  </head>

  <body class="font-sans font-light">
    <main>
      <div class="w-full max-w-[900px] pt-7 sm:pt-14 pb-14 mx-auto px-7 lg:px-6">

        {% block header %}
          <header class="flex flex-row flex-wrap sm:flex-nowrap items-center w-full border-b border-gray-100 dark:border-white/10 py-4">
            <a href="{{ '/' | url }}" class="md:text-4xl text-4xl no-underline text-black/70 dark:text-white font-extrabold">
              <h1>
                  Eduardo Stuart
              </h1>
            </a>

            <div class="block w-full sm:ml-auto sm:w-auto text-gray-400">
              {% block current_page %}{% endblock %}
            </div>

          </header>
        {% endblock %}

        <section class="w-full text-gray-700 dark:text-white">
          {% block body %}{% endblock %}
        </section>
      </div>
    </main>
  </body>
</html>