{% extends "./main.njk" %}

{%block title %}{{- title | safe -}} - Eduardo Stuart{% endblock %}

{% block current_page %}
    {{- title | safe -}}
{% endblock %}

{% block body %}
    <article class="prose pt-14 prose-a:font-normal prose-headings:text-gray-800 dark:prose-headings:text-white prose-headings:font-bold prose-img:my-4 mx-auto dark:prose-invert prose-img:rounded-xl max-w-none">{{- content | safe -}}</article>
{% endblock %}