{% extends "./main.njk" %}

{%block title %}{{- title | safe -}} - Eduardo Stuart{% endblock %}

{% block current_page %}
    {{- title | safe -}}
{% endblock %}

{% block body %}
    <article class="article">{{- content | safe -}}</article>
{% endblock %}